<% include partials/header %>

<h1><%=title%></h1>

<p>This is a contact page! <a href="/">Go to home</a></p>

<p class="author"><a href="http://adriaan.io" rel="author">Adriaan van Rossum</a></p>

<% include partials/footer %>
